/* Styled the .navbar-brand and .navbar-light so that it is common across all pages by giving them custom classes of .brand-identity and .nav-color respectively. 
This is done in order to avoid any issues arising from directly overriding the Bootstrap class styles.*/
.nav-color .brand-identity{
    background-color: #4aaaa5;
    color: white;
    padding:3px;
    margin-left: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 26px; 
}

/*Added pseudo-class to the .nav-link (by giving custom classes instead of modifying Bootstrap classes) so that it displays a blue color on hover*/
.nav-color .nav-menu .li-link:hover{
    color: blue;
}

/* Increased the font-size of the nav-items so that they are clearly visible*/
ul{
    font-size:18px;
}

/*Applied a subtle background image to the body that does not take away from the main content*/
body{
    background-image: url("./Images/body-background.png"); 
    overflow-x:hidden; 
}

/*Styled the container using a custom class(.box) so that is common across all portfolio pages while staying responsive*/
.box{
    background-color: white;
}

/*Styled the h1 as per requirement in all the pages*/
h1{
    color: #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

/*Created a CSS class selector .form-btn that is associated to the styling of the button as required on Contact page*/
.form-btn{
    background-color: #4aaaa5;
    color: white;
}

/*This CSS class selector is associated to the positioning and styling of the social media links on the Contact page*/
.social-media-link{
    text-decoration: underline;
    position:relative;
    left:58px;
    bottom:12px; 
}

/*This CSS class selector is associated to the styling of the footer across all portfolio pages*/
.page-footer{
    background-color: #666666;
    height:55px;
    border-top: 7px solid #4aaaa5; 
    color: #6c747c;
    font-size:1.2rem;
    font-weight:400;
}